.paramsForm {
  background-color: #242424;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  left: -15rem;
  padding: 1rem;
  position: absolute;
  transition: left 0.2s ease-in-out;
  z-index: var(--elevation-overlay-z);

  label {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    text-align: left;
  }

  input {
    flex: 1;
    padding: 0.5em;
  }

  [type='submit'] {
    flex: 1 0 auto;
  }
}

.toggle {
  border-radius: 0;
  padding: 0.5rem;
  position: absolute;
  right: -4.5rem;
  top: 0;
}

.paramsForm:focus-within {
  left: 1rem;
  transition: left 0.2s ease-in-out;
}
