.zoomContainer {
  align-items: center;
  bottom: 2rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0.625rem;
  width: auto;
  z-index: var(--elevation-overflow-z);

  button {
    border-color: var(--color-border);
    padding: 0.3em 0.6em;
  }
}

.zoomFactor {
  user-select: none;
}
