.zoomContainer {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: calc(100% + 1rem);
  position: absolute;
  width: auto;
  z-index: var(--elevation-overflow-z);

  button {
    border-color: var(--color-grid-line);
    min-width: 0.625rem;
    padding: 0.3em 0.6em;
  }
}

.zoomLevel {
  user-select: none;
}
