:root {
  --needle-width: 0.25rem;
  --needle-height: 1.5rem;
}

.compass {
  background-color: #16191d;
  border: 1px solid #ccc;
  border-radius: 50%;
  display: block;
  height: calc(2 * var(--needle-height));
  left: 0.625rem;
  padding-top: env(safe-area-inset-top);
  position: absolute;
  top: var(--needle-height);
  width: calc(2 * var(--needle-height));
  z-index: var(--elevation-overlay-z);
}

.compass::before {
  content: 'N';
  font-size: 0.8rem;
  position: absolute;
  text-align: center;
  top: calc(-1 * var(--needle-height));
  width: calc(2 * var(--needle-height));
}

.needle {
  height: calc(2 * var(--needle-height));
  left: calc(var(--needle-height) - (var(--needle-width) / 2) - 0.125rem);
  position: absolute;
  transform-origin: center;
  transition: transform 0.2s ease-in-out;
  width: var(--needle-width);
}

.needle::before {
  border-bottom: var(--needle-height) solid #ef5052;
  border-left: var(--needle-width) solid transparent;
  border-right: var(--needle-width) solid transparent;
  content: '';
  position: absolute;
}

.needle::after {
  border-bottom: var(--needle-height) solid #fff;
  border-left: var(--needle-width) solid transparent;
  border-right: var(--needle-width) solid transparent;
  content: '';
  position: absolute;
  top: var(--needle-height);
  transform: rotateZ(180deg);
}
