canvas {
  image-rendering: crisp-edges;
  inset: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.mapCanvasContainer {
  display: flex;
  flex-direction: column;
  height: 50rem;
  width: 100%;
}

.canvasContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.gridCanvas {
  background-color: #16191d;
  z-index: 0;
}

.trackCanvas {
  z-index: 1;
  inset: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.trackCanvasIndicator {
  z-index: 2;
}
