canvas {
  height: 768px;
  image-rendering: crisp-edges;
  inset: 0;
  margin: 0;
  position: absolute;
  width: 1024px;
}


.canvasContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.grid {
  background-color: #16191d;
  z-index: 0;
}

.track {
  position: absolute;
  width: 1024px;
  height: 768px;
  z-index: 1;
}

.ship {
  z-index: 2;
}
