.mobDirection {
  display: none;
  fill: red;
  position: absolute;
  transform: rotate(135deg);
  transition: transform 0.2s ease-in-out;
  z-index: var(--elevation-raised-z);
}

.outOfBounds {
  display: block;
}
