@import url('./tokens.css');

:root {
  background-color: var(--color-page-background);
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html,
body,
#root,
main {
  height: 100%;
  width: 100%;
}

body,
html {
  margin: 0;
}

#root {
  margin: 0 auto;
  max-width: 90cqw;
}

main {
  color: rgb(255 255 255 / 87%);
  display: grid;
  gap: 1rem;
  grid-template-columns: 12rem auto;
  padding: 1rem 1rem 0;
}

button {
  background-color: var(--color-button-background);
  border: 1px solid transparent;
  border-radius: 0.5rem;
  font-family: inherit;
  font-size: 1em;
  font-weight: 500;
  padding: 0.6em 1.2em;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button:disabled {
  cursor: default
}

button:not(:disabled) {
  cursor: pointer;
}

button:not(:disabled):hover {
  border-color: #646cff;
}
