#root {
  max-width: 90cqw;
  margin: 0 auto;
  width: 100%;
}

html,
body,
#root {
  height: 100%;
}

body,
html {
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: 12rem auto;
  width: 100%;
  gap: 1rem;
  padding: 1rem 1rem 0;
}
