:root {
  --needle-width: 4px;
  --needle-height: 24px;
}

.liveTrack {
  display: flex;
  position: relative;
  width: 100%;
  container-type: size;
  z-index: 0;
}

.mobMarker {
  position: absolute;
  font-family: monospace;
  font-size: smaller;
  width: max-content;
  transform: translate(50cqw, 50cqh);
  padding-left: 0.4rem;
  z-index: 1;
}

.compass {
  background-color: #16191d;
  border: 1px solid #ccc;
  border-radius: 50%;
  display: block;
  height: calc(2 * var(--needle-height));
  position: absolute;
  right: 1rem;
  top: var(--needle-height);
  width: calc(2 * var(--needle-height));
  z-index: 3;
}

/*
.eastWestRing,
.eastWestRing::before,
.eastWestRing::after {
  position: absolute;
  height: calc(2 * var(--needle-height));
  inset: 0;
  width: calc(2 * var(--needle-height));
} */

/*
.eastWestRing::before {
  content: "E";
  font-size: 0.8rem;
  height: calc(4 * var(--needle-height));
  text-align: center;
  top: calc(-1 * var(--needle-height));
  transform-origin: center;
  transform: rotate(90deg);
} */
/*

.eastWestRing::after {
  content: "W";
  font-size: 0.8rem;
  height: calc(4 * var(--needle-height));
  text-align: center;

} */

.compass::before {
  content: "N";
  position: absolute;
  top: calc(-1 * var(--needle-height));
  width: calc(2 * var(--needle-height));
  text-align: center;
  font-size: 0.8rem;
}

/*
.compass::after {
  content: "S";
  position: absolute;
  bottom: calc(-1 * var(--needle-height));
  width: calc(2 * var(--needle-height));
  text-align: center;
  font-size: 0.8rem;
} */

.needle {
  position: absolute;
  transform-origin: center;
  transition: transform 0.2s ease-in-out;
  left: calc(var(--needle-height) - var(--needle-width) / 2);
  width: var(--needle-width);
  height: calc(2 * var(--needle-height));
}

.needle::before {
  content: "";
  position: absolute;
  border-left: var(--needle-width) solid transparent;
  border-right: var(--needle-width) solid transparent;
  border-bottom: var(--needle-height) solid #EF5052;
}

.needle::after {
  content: "";
  position: absolute;
  top: var(--needle-height);
  border-left: var(--needle-width) solid transparent;
  border-right: var(--needle-width) solid transparent;
  border-bottom: var(--needle-height) solid #fff;
  transform: rotateZ(180deg);
}
