.grid {
  background-color: #16191d;
  height: var(--canvas-height);
  image-rendering: crisp-edges;
  inset: 0;
  margin: 0;
  position: absolute;
  width: var(--canvas-width);
  z-index: var(--elevation-default-z);
}
